<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dropdowns-map</title>
    <style>

    </style>
</head>

<body>

    <Select id="swapSelector">
        <option value="red">Red</option>
        <option value="yellow">Yellow</option>
        <option value="blue">Blue</option>
    </Select>
    <div id="red" class="swap-item"> red... </div>
    <div id="yellow" class="swap-item" style="display:none"> yellow.. </div>
    <div id="blue" class="swap-item" style="display:none"> blue.. </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(function () {
            $('#swapSelector').change(function () {
                $('.swap-item').hide();
                $('#' + $(this).val()).show();
            });
        });
        
    </script>

</body>

</html>